page-matchcenter {
     ion-header .toolbar
        {
            height: 45px !important;
            .bar-button
            {
              top:-3px !important;
            }
            .title
            {
              top:-8px !important;
            }
            .title1
            {
              top:22px !important;
            }
        }
    //  ion-header .toolbar
    //     {
    //         height: 55px ;
    //     }
          .boldWhite
          {
            b{
            font-family: Gotham-Medium;

            }
          }
      .jb-content
    {
        padding-top: 50px;
        ul{
           padding: 0px !important;
           margin-top: 0px;
           margin-bottom: 0px;
        }
    }
    
    toolbar-background{
      background-color: white !important;;   
    }

    ion-toolbar{
     background: transparent !important;
     position: fixed;
    }
   
  .scrollable-segments {
    height: 45px;
    top:44px !important;
    .toolbar-content
    {
      height: 45px;
    }
    .toolbar-background
    {
      background-color: white!important;; 
    }
	ion-segment {
	  display: block;
	  overflow-x: scroll;
    white-space: nowrap;
       height: 40px;
      background: white;
      border-bottom: 2px solid #04235C;
      
	  ion-segment-button.segment-button {
       border-bottom:none;
    display: inline-block;
        top:3px;
        width: auto;
        padding: 5px;
        height: 36px;
        color: #04235C;
        font-size: 16px;
        font-family: Gotham-Medium;
        border-top: none;
        border-left: none;
        border-right: none;
        line-height: 1.5;
        max-width: 200px;
        // border-bottom: none !important ;
      }
      ion-segment-button.segment-button:hover:not(.segment-activated)
      {
         background-color: transparent !important;
      }
     .segment-button.segment-activated
     {
       border-bottom: 3px solid #04235C !important;
       background: transparent !important;
       color:#04235C;
       border-radius: 0px;
     }
	}
}
.full-image {
    width: 100%;
}
.matchCenterHeight
{
  margin-top:-10px;
}
 .teamCol {
      img{
      //   max-width: 58px;
      // //   min-height: 58px;
      // //   height: 58px;
      // //   width: 58px;
      //  min-width: 58px;
      // //   max-height: 58px;
      //  margin-top: 10px;
      vertical-align: middle;
      max-height: 80px;
      max-width: 100%;
      }
    }
    .jb-inner-img{ 
       height: 80px;      /* equals max image height */
    width: 100%;
    white-space: nowrap;
    text-align: center; margin: 1em 0; 
    }
    .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.teamCol {
      text-align: center;
  img
  {
  //  max-width: 56px;
  //  margin-top:8px;
  }
  p{
    color: #04235C;
    font-family: Gotham-Medium;
    font-size: 13px;
    margin-top: 4px;
    margin-bottom: 4px;
       height: 2.2em;
    line-height: 1.1;
    overflow: hidden;
  }
  h3
  {
    color: #04235C;
    font-family: Gotham-Bold;
    font-size: 16px;
     margin-top: 4px;
    margin-bottom: 4px;
  }
}
.teamCenterDiv h3{
	
    font-family: Gotham-Medium;
    font-size: 15px; 
	white-space:normal;
}
.teamCenterDiv p{
  color: #727c91;
  white-space:normal;
}
.dispTable{	
	height:100%;
	width:100%;
	max-width:100%;
	display:table;
	position:relative;	

}

.dispTableCell{
	display: block;
    margin: 50px auto 0;
    max-width: 100%;
    text-align: center;
      .boldWhite{
    font-family: Gotham-Book;
    color: #04235C;
    font-size: 13px;
    padding-top: 12px;
    margin: 0px;
  }
   .boldgre{
    font-family: Gotham-Bold;
    color: #04235c;
    font-size: 13px;
    padding-top: 12px;
    margin: 0px;
  }
     
}
.matchStatus {
	font-family:Gotham-Bold;
  background-color: #86cf85;
  border-radius: 12px;
  color: white;
  display: inline; 
  padding: 3px 15px;
}
.class_LIVE{
	font-family:Gotham-Bold;
  background-color: #86cf85;
  border-radius: 12px;
  color: white;
  display: inline; 
    font-size: 12px;
    padding: 6px 15px;
}
.class_UPCOMING{
	font-family:Gotham-Bold;
  background-color: #667588;
  border-radius: 12px;
  color:white;
  display: inline; 
    font-size: 12px;
    padding: 6px 15px;
}
.class_COMPLETE {
    font-family: Gotham-Bold;
    background-color: #667588;
    border-radius: 12px;
    color: white;
    display: inline;
    font-size: 12px;
    padding: 6px 15px;
}
  
  
  
}
