<?xml version='1.0' encoding='utf-8'?>
<!-- <widget id="com.support.vafalive" ios-CFBundleVersion="9.0.2" version="9.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://cordova.apache.org/ns/1.0"> -->
<widget id="com.support.vafalive" version="1.1.0" android-versionCode="101017"  xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://cordova.apache.org/ns/1.0">
    <name>VAFA Live</name>
    <description>An awesome Ionic/Cordova app.</description>
    <author email="hi@ionicframework" href="http://ionicframework.com/">Ionic Framework Team</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="target-device" value="handset" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="15000" />
    <preference name="FadeSplashScreenDuration" value="3000" />
    <preference name="SplashScreen" value="screen" />
    <preference name="ShowSplashScreen" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="StatusBarBackgroundColor" value="#04235C" />
    <preference name="YouTubeDataApiKey" value="AIzaSyBzQdlpA_HraLh54JocT5VBgpm-Q05tT04" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="resources/android/icon/drawable/icon.png" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="resources/android/icon/drawable-ldpi/icon.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="resources/android/icon/drawable-mdpi/icon.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="resources/android/icon/drawable-hdpi/icon.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="resources/android/icon/drawable-xhdpi/icon.png" />
    <icon gap:platform="android" gap:qualifier="xxhdpi" src="resources/android/icon/drawable-xxhdpi/icon.png" />
    <icon gap:platform="android" gap:qualifier="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi/icon.png" />
    <gap:splash gap:platform="android" gap:qualifier="land-ldpi" src="resources/android/splash/drawable-land-ldpi-screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="land-mdpi" src="resources/android/splash/drawable-land-mdpi-screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="land-hdpi" src="resources/android/splash/drawable-land-hdpi-screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="land-xhdpi" src="resources/android/splash/drawable-land-xhdpi-screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="land-xxhdpi" src="resources/android/splash/drawable-land-xxhdpi-screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="land-xxxhdpi" src="resources/android/splash/drawable-land-xxxhdpi-screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="resources/android/splash/drawable-port-ldpi-screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="resources/android/splash/drawable-port-mdpi-screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="resources/android/splash/drawable-port-hdpi-screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="resources/android/splash/drawable-port-xhdpi-screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xxhdpi" src="resources/android/splash/drawable-port-xxhdpi-screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xxxhdpi" src="resources/android/splash/drawable-port-xxxhdpi-screen.png" />
    <icon gap:platform="ios" height="57" src="resources/ios/icon/icon.png" width="57" />
    <icon gap:platform="ios" height="114" src="resources/ios/icon/icon@2x.png" width="114" />
    <icon gap:platform="ios" height="40" src="resources/ios/icon/icon-40.png" width="40" />
    <icon gap:platform="ios" height="80" src="resources/ios/icon/icon-40@2x.png" width="80" />
    <icon gap:platform="ios" height="120" src="resources/ios/icon/icon-40@3x.png" width="120" />
    <icon gap:platform="ios" height="50" src="resources/ios/icon/icon-50.png" width="50" />
    <icon gap:platform="ios" height="100" src="resources/ios/icon/icon-50@2x.png" width="100" />
    <icon gap:platform="ios" height="60" src="resources/ios/icon/icon-60.png" width="60" />
    <icon gap:platform="ios" height="120" src="resources/ios/icon/icon-60@2x.png" width="120" />
    <icon gap:platform="ios" height="180" src="resources/ios/icon/icon-60@3x.png" width="180" />
    <icon gap:platform="ios" height="72" src="resources/ios/icon/icon-72.png" width="72" />
    <icon gap:platform="ios" height="144" src="resources/ios/icon/icon-72@2x.png" width="144" />
    <icon gap:platform="ios" height="76" src="resources/ios/icon/icon-76.png" width="76" />
    <icon gap:platform="ios" height="152" src="resources/ios/icon/icon-76@2x.png" width="152" />
    <icon gap:platform="ios" height="167" src="resources/ios/icon/icon-83.5@2x.png" width="167" />
    <icon gap:platform="ios" height="29" src="resources/ios/icon/icon-small.png" width="29" />
    <icon gap:platform="ios" height="58" src="resources/ios/icon/icon-small@2x.png" width="58" />
    <icon gap:platform="ios" height="87" src="resources/ios/icon/icon-small@3x.png" width="87" />
    <icon gap:platform="ios" height="1024" src="resources/ios/icon/icon-1024.png" width="1024" />
    <gap:splash gap:platform="ios" height="1136" src="resources/ios/splash/Default-568h@2x_iphone.png" width="640" />
    <gap:splash gap:platform="ios" height="1334" src="resources/ios/splash/Default-667h.png" width="750" />
    <gap:splash gap:platform="ios" height="2208" src="resources/ios/splash/Default-736h.png" width="1242" />
    <gap:splash gap:platform="ios" height="1242" src="resources/ios/splash/Default-Landscape-736h.png" width="2208" />
    <gap:splash gap:platform="ios" height="2048" src="resources/ios/splash/Default-Landscape@_ipadpro.png" width="2732" />
    <gap:splash gap:platform="ios" height="768" src="resources/ios/splash/Default-Landscape_ipad.png" width="1024" />
    <gap:splash gap:platform="ios" height="2048" src="resources/ios/splash/Default-Portrait@2x_ipad.png" width="1536" />
    <gap:splash gap:platform="ios" height="2732" src="resources/ios/splash/Default-Portrait@_ipadpro.png" width="2048" />
    <gap:splash gap:platform="ios" height="1024" src="resources/ios/splash/Default-Portrait_ipad.png" width="768" />
    <gap:splash gap:platform="ios" height="960" src="resources/ios/splash/Default@2x_iphone.png" width="640" />
    <gap:splash gap:platform="ios" height="480" src="resources/ios/splash/Default_iphone.png" width="320" />
    <gap:splash gap:platform="ios" height="2732" src="resources/ios/splash/Default@2x_universal_anyany.png" width="2732" />
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1" />
    <plugin name="cordova-plugin-whitelist" spec="1.3.1" />
    <plugin name="cordova-plugin-device" spec="1.1.4" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="^2.3.0" />
    <plugin name="cordova-plugin-ionic-webview" spec="^1.1.11" />
    <plugin name="cordova-plugin-youtube-video-player" spec="^1.0.6" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-facebook4" spec="~1.7.4">
        <variable name="APP_ID" value="263391157434991" />
        <variable name="APP_NAME" value="YJFL" />
    </plugin>
    <plugin name="cordova-plugin-inapppurchase" spec="^1.2.0" />
    <plugin name="cordova-plugin-app-version" spec="^0.1.9" />
    <plugin name="cordova-plugin-uniquedeviceid" spec="^1.3.2" />
    <plugin name="cordova-plugin-camera" spec="^2.4.1">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="Allow the app to access your camera" />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="Allow the app to access your photos" />
    </plugin>
    <plugin name="cordova-plugin-ios-camera-permissions" spec="^1.2.0">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="Allow the app to access your camera" />
        <variable name="MICROPHONE_USAGE_DESCRIPTION" value="Allow the app to access your microphone" />
        <variable name="PHOTOLIBRARY_ADD_USAGE_DESCRIPTION" value="Allow the app to access your photos" />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="Allow the app to access your photos" />
    </plugin>
    <plugin name="cordova-plugin-file-transfer" spec="~1.6.3" />
    <plugin name="cordova-plugin-x-socialsharing" spec="^5.4.0" />
    <plugin name="cordova-plugin-filepath" spec="^1.3.0" />
    <plugin name="cordova-sqlite-storage" spec="1.2.1" />
    <plugin name="cordova-plugin-streaming-media" spec="^2.1.2" />
    <plugin name="cordova-plugin-google-analytics" spec="0.8.1" />
</widget>
